@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import "./custom.css";
@media (prefers-color-scheme: light) {
  :root {
    --blue3: hsl(203, 34%, 53%);
    --blue4: #417395;
    --blue-green-45: hsl(186, 30%, 45%);
    --orange-55: hsl(24, 85%, 55%);
    --link-color: #349c93;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --blue4: hsl(204, 39%, 42%);
    --blue3: hsl(203, 34%, 53%);
    --blue-green-45: hsl(186, 30%, 45%);
    --orange-55: hsl(34, 83%, 64%);
    --link-color: #349c93;
  }
}

/* General styles */
body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.txt-h1 {
  letter-spacing: "0.1rem";
}
/* Links */
a {
  text-decoration: none;
  color: var(--link-color);
}

/* Spesific elements */
#eForms-fields-sunburst {
  padding-left: -100px;
  scale: 120%;
}
iframe {
  overflow-y: visible;
  overflow-x: hidden;
}

/* Navigation */
.navbar a {
  letter-spacing: 0.08rem;
}
.navbar a:hover {
  text-decoration: underline;
}
/* Select element after .navbar a */
.navbar a + .arrow-icon:hover {
  cursor: pointer;
}

/* Sidebar */
/* #sidebar {
  top: 0;
  height: 100vh;
  padding-top: 5rem;
  position: sticky;
  min-width: 13rem;
  max-width: 17rem;
} */

/* Responsive design - media queries */
/* For screens larger than 992px*/
/* @media (min-width: 992px) {
  #offcanvas-toggle-btn { display: none; }
} */

/* When screen is smaller than 992px, hide sidebar. */
/* @media (max-width: 991.98px) {
  #sidebar { display: none; }
  #sidebar-toggle-btn { display: none; }
} */
